.header{
    color:white;
    background-color: black;
}

.footer{
    color: rgb(126, 71, 0);
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    padding: 4px;
}

.btn>button{
    margin: 10px;
}